.button{
    -fx-font-family: "Arial Black";
    -fx-font-size: 18px;
    -fx-fill: #000000;
    -fx-background-color:  #E0E0E0;
    -fx-opacity: 0.5;
    -fx-background-radius: 10px;
}
.button:hover{
    -fx-background-color:  #A0A0A0;
    -fx-fill: #FFFF;
    -fx-opacity: 0.8;
}

.text-field{
    -fx-font-family: "Arial Black";
    -fx-font-size: 12px;
    -fx-fill: #000000;
    -fx-background-color:  #E0E0E0;
    -fx-opacity: 0.5;
    -fx-background-radius: 10px;
}